<div class="row">
    <div class="col-sm-12  col-md-12 col-lg-12 ">
        <nav class="navbar navbar-expand-sm bg-primary sticky-top navbar-dark navbar-right">
            <a class="navbar-brand">صبا دیجی</a>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link nav-link-right" href="#">تکنولوژی</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">اپلیکیشن</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">خودرو</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">کنسول و بازی</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled" href="#">علم و دانش</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">کسب و کار</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">بررسی</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"> تبلیغات</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</div>