 {%load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{%block title %} {%endblock%} | sabablog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    {%include "partials/header.html"%} {%include "partials/navigation.html"%}
    <div class="container-fluid">
        {%include "partials/carousel.html" %} {%block body%} {%endblock%}
    </div>
    {%include "partials/footer.html"%}

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="{% static 'js/main.js'%}"></script>

</html>