{% extends 'layouts/default/page.html' %} {% load bootstrap4 %} {% load i18n %} {% block content %}
<h4>{% trans 'restore password' %}</h4>
{% if validlink %}
<p>
    {% trans 'please enter your new password twice so we can verify you type it in correctly' %}
</p>
<form method="post">
    {% csrf_token %} {% bootstrap_form form %}
    <button class="btn btn-success">{% trans 'change' %}</button>
</form>
{% else %}
<div class="alert alert-danger">
    {% trans 'the password reset link was invalid,possibly it has already been used' %}
</div>

{% endif %} {% endblock %}